<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem-Based Multimedia Learning Strategy Platform - Lessons</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      img{
        width: 250px;
      }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Problem-Based Multimedia Learning Strategy Platform (PB-MLS)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Lessons <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <h2>Learning Lessons</h2>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <img src="{{url_for('static', filename='slide.jpeg')}}" alt="picture">
          <h5 class="card-title">Macro-Nutrients And Micro-Nutrients</h5>
          <a href="/lesson1" class="btn btn-primary">View Lesson</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <img src="{{url_for('static', filename='soil.png')}}" alt="">
          <h5 class="card-title">Functions and deficiencies symptoms of macro and micro element </h5>
          <a href="/lesson2" class="btn btn-primary">View Lesson</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <img src="{{url_for('static', filename='rep.jpg')}}" alt="">

          <h5 class="card-title">Factors influencing nutrient availability in the soil</h5>
          <a href="/lesson3" class="btn btn-primary">View Lesson</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <img src="{{url_for('static', filename='crotation.png')}}" alt="">

          <h5 class="card-title">Methods of Replenishing lost nutrients (Crop Rotation)</h5>
          <a href="/lesson4" class="btn btn-primary">View Lesson</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <img src="{{url_for('static', filename='bush.jpeg')}}" alt="">

          <h5 class="card-title">Methods of Replenishing lost nutrients (Bush Fallowing) </h5>
          <a href="/lesson5" class="btn btn-primary">View Lesson</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <!-- <img src="" alt=""> -->
          <img src="{{url_for('static', filename='cover.jpeg')}}" alt="">

          <h5 class="card-title">Methods of Replenishing lost nutrients (cover crop)</h5>
          <a href="/lesson6" class="btn btn-primary">View Lesson</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <img src="{{url_for('static', filename='nitrogen.jpg')}}" alt="">

          <h5 class="card-title">Nutrient Cycle (Nitrogen)</h5>
          <a href="/lesson7" class="btn btn-primary">View Lesson</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <img src="{{url_for('static', filename='ncycle.jpeg')}}" alt="">

          <h5 class="card-title">Nutrient Cycle (Carbon)</h5>
          <a href="/lesson8" class="btn btn-primary">View Lesson</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <!-- <img src="" alt=""> -->
          <img src="{{url_for('static', filename='waterc.jpeg')}}" alt="">

          <h5 class="card-title">Nutrient Cycle (Water)</h5>
          <a href="/lesson9" class="btn btn-primary">View Lesson</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <img src="{{url_for('static', filename='organic.jpeg')}}" alt="">

          <h5 class="card-title">Organic Agriculture</h5>
          <a href="/lesson10" class="btn btn-primary">View Lesson</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <!-- <div class="card-body">
          <img src="{{url_for('static', filename='bush.jpeg')}}" alt="">

          <h5 class="card-title">Methods of Replenishing lost nutrients (Bush Fallowing) </h5>
          <a href="#" class="btn btn-primary">View Lesson</a>
        </div> -->
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <!-- <div class="card-body">
          
          <img src="{{url_for('static', filename='cover.jpeg')}}" alt="">

          <h5 class="card-title"></h5>
          <a href="#" class="btn btn-primary">View Lesson</a>
        </div> -->
      </div>
    </div>
  </div>
</div>

</body>
</html>
